<!doctype html>
<html lang="da">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta
      http-equiv="Content-Security-Policy"
      content="default-src 'self'; img-src 'self' placehold.co"
    />
    <link rel="stylesheet" href="{{ '/style.css' | url }}" />
    <title>{{ title }}</title>
  </head>
  <body class="flex flex-col h-screen antialiased bg-white">
    <header class="py-6">
      <div class="flex mx-auto px-8 container">
        <a href="{{ '/' | url }}" class="flex flex-1">
          <span class="h-16">{% include 'logo' %}</span>
          <span class="ml-4 font-light text-2xl self-center"
            >Morsø Linux User Group</span
          >
        </a>

        <nav class="text-xl -mr-4 self-center">
          <ul class="flex">
            <li>
              <a href="{{ '/nyheder' | url }}" class="px-4 font-medium link">
                Nyheder
              </a>
            </li>

            <li>
              <a href="{{ '/kalender' | url }}" class="px-4 font-medium link">
                Kalender
              </a>
            </li>

            <li>
              <a href="{{ '/kontakt' | url }}" class="px-4 font-medium link">
                Kontakt
              </a>
            </li>
          </ul>
        </nav>
      </div>
    </header>

    <main class="flex-1">{{ content }}</main>

    <footer class="mx-auto mt-10 px-8 container">
      <div class="py-8 border-t border-gray-200">
        <p class="font-medium">© Morsø Linux User Group</p>
      </div>
    </footer>
  </body>
</html>
